<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="ModelsContainer" connectionString="metadata=res://*/Models.Models.csdl|res://*/Models.Models.ssdl|res://*/Models.Models.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;D:\Git\CarMatrix\CarMatrixDataReader\bin\Debug\App_Data\CMDatabase.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />-->
    <add name="CMDatabaseConnectionString"
      connectionString="Data Source=|DataDirectory|\App_Data\CMDatabase.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
</configuration>