@{
    ViewBag.Title = "Inde Page";
}

@section scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=AA312727dc829b01e94d1361a34be8f1"></script>
    <script type="text/javascript">
        $(function () {
            var map = new BMap.Map("map-div");
            var i = 0;
            
            $.get("/Home/GetPersons", function (data) {
                $.each(data, function (k, v) {
                    if (i == 0) {
                        map.centerAndZoom(new BMap.Point(v.Lnt, v.Lat), 14);
                        i++;
                    }
                    var mark = new BMap.Marker(new BMap.Point(v.Lnt, v.Lat));
                    map.addOverlay(mark);
                });
            });
        });
    </script>
}
<div id="map-div" style="width: 600px; height: 500px">

</div>
