<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ModelsContainer" 
         connectionString="metadata=res://*/Models.Models.csdl|res://*/Models.Models.ssdl|res://*/Models.Models.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=D:\Git\CarMatrix\CarMatrixData\App_Data\CmDb.sdf&quot;" 
         providerName="System.Data.EntityClient" />-->
    <!--<add name="ModelsContainer" connectionString="Data Source=NEMO-PC;initial catalog=CarMatrixDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ModelsContainer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CarMatrixDb;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework" >
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="map_key" value="AA312727dc829b01e94d1361a34be8f1"/>
    <!--6c72e0845dfce8ec0a3d432c33b2f778-->
    <add key="file_path" value="D:\\temp.xlsx"/>
  </appSettings>
</configuration>